<div class="col-lg-12 text-center">
<h1> List of all cocktails</h1>
  <%= link_to "Add new cocktail", new_cocktail_path %>
</div>

<% @cocktails.each do |cocktail| %>

<div class="col-sm-4 col-md-4 col-lg-4 text-center">
<%= cl_image_tag(cocktail.photo, height: 200, width: 400, crop: :fill, crop: :fit) %>

<h2><%= link_to cocktail.name, cocktail %></h2>
</div>

<% end %>


